In [1]:
# скачиваем файл
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1cq9JDz8-zwzoGL6udiT_ogHHRWdnsd1q' -O math_students.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.
'id' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
import pandas as pd
from IPython.display import display
pd.options.display.max_columns = None
pd.options.display.max_rows = None
data = pd.read_csv('math_students.csv', delimiter=',')

1. Какая причина выбора школы была самой частой? В качестве ответа приведите соответствующее значение признака.

In [3]:
data['reason'].value_counts() # The answer is course

course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64

2. Найдите количество студентов, у родителей которых нет никакого образования.

In [4]:
data[((data['Medu'] == 0)|(data['Fedu'] == 0))].head(1100)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
76,GP,M,15,U,GT3,T,4,0,teacher,other,course,mother,2,4,0,no,no,no,yes,yes,yes,yes,no,3,4,3,1,1,1,8,11,11,10
127,GP,F,19,U,GT3,T,0,1,at_home,other,course,other,1,2,3,no,yes,no,no,no,no,no,no,3,4,2,1,1,5,2,7,8,9
171,GP,M,16,U,GT3,T,1,0,other,other,reputation,mother,2,2,0,no,yes,yes,yes,yes,yes,yes,yes,4,3,2,1,1,3,2,13,15,16
249,GP,M,16,U,GT3,T,0,2,other,other,other,mother,1,1,0,no,no,yes,no,no,yes,yes,no,4,3,2,2,4,5,0,13,15,15
324,GP,F,17,U,LE3,T,0,2,at_home,at_home,home,father,2,3,0,no,no,no,no,yes,yes,yes,no,3,3,3,2,3,2,0,16,15,15

3. Найдите минимальный возраст учащегося школы Mousinho da Silveira.

In [5]:
data[data['school']=='MS']['age'].min()

17

4. Найдите количество студентов, имеющих нечетное число пропусков.

In [6]:
data[data['absences'] % 2 != 0].shape[0]  # mind zeros?

41

5. Найдите разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях. В качестве ответа приведите число, округленное до двух значащих цифр после запятой.

In [7]:
data[data['romantic']=='yes']['G3'].mean() - data[data['romantic']=='no']['G3'].mean()

-1.2607443253831079

6. Сколько занятий пропустило большинство студентов с самым частым значением наличия внеклассных активностей?

In [8]:
# Get average number of extracurricural activities
# data['activities'].value_counts()
# yes    201
# no     194
# Name: activities, dtype: int64

# Get most common absences count
data[data['activities']=='yes']['absences'].value_counts()

0     51
2     37
4     29
6     17
8     16
10     9
14     7
3      4
16     4
7      3
12     3
15     3
11     2
9      2
18     2
20     2
1      2
13     1
54     1
17     1
5      1
22     1
25     1
30     1
56     1
Name: absences, dtype: int64